<mat-nav-list>
    <a routerLink="dashboard">
        <mat-list-item (click)="toggler?.toggle()">
            DASHBOARD
        </mat-list-item>
    </a>
    <a routerLink="profile">
        <mat-list-item>
            IL MIO PROFILO
        </mat-list-item>
    </a>
    <a routerLink="shop">
        <mat-list-item>
            CONTINUA ACQUISTI
        </mat-list-item>
    </a>
    <a routerLink="cart">
        <mat-list-item>
            CARRELLO
        </mat-list-item>
    </a>
</mat-nav-list>
